.button-compiler-box{
    padding: 5px;
}

.btn-compiler-compile{
    outline: none;
    background: #29aae1;
    border: 1px solid #29aae1;
    color: white;
    padding: 6px 10px;
}

.btn-compiler-compile:hover{
    color: #29aae1;
    background: white;
}

#code{
    /* background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc; */
    background: #e2e2e2;
    font-size: 16px;
    font-weight: 600;
}

#compiler-output{
    background: #585858;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.code:hover{
    border: none;
}

.code:focus{
    border: none;
}
